#article {
  /* position: fixed;
  z-index: 99999999999999999;
  inset: 0;
  overflow-y: scroll;
  background: white; */

  & .content {
    position: static;
    & .header {
      text-transform: uppercase;
      height: 40rem;
      padding: 5rem 1.5rem;

      & h1 {
        font-family: "PP Monument";
        font-size: 2.25rem;
        font-weight: 800;
        line-height: 3rem;
        margin-bottom: 1rem;
      }
      & h2 {
        font-family: "PP Monument";
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.5rem;
        color: white;
        margin-bottom: 1rem;
      }

      & h3 {
        font-family: "GT America";
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.125rem;
        color: white;
      }
    }

    & p {
    }
  }
}
