#category {
  width: 100%;
}

#category .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
  gap: 8px;
  background-size: cover;
  overflow: hidden;
  height: 32rem;
}

#category .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
}

#category .bg-image {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

#category .category-text {
  padding: 2.5rem 1.5rem;
  overflow: hidden;
  z-index: 9;
}

#category .title {
  color: #fff;
  font-family: "PP Monument";
  font-size: 2rem;
  font-weight: 800;
}

#category .desc {
  color: #fff;
  font-family: "GT America";
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5rem;
}

#category .category-img {
  position: absolute;
  height: 15rem;
  bottom: 0;
  left: 50%;
  translate: -50%;
  transition: translate 0.3s;
  z-index: 9;
}

@media (min-width: 640px) {
  #category .category-text {
    padding: 6rem 4rem;
  }
}

@media (min-width: 1024px) {
  #category .card {
    flex-direction: row;
    opacity: 0.75;
  }

  #category .category-text {
    padding: 6rem 5.5rem;
  }

  #category .title {
    font-size: 2.25rem;
  }

  #category .desc {
    max-width: 20rem;
  }

  #category .card:hover {
    opacity: 1;
    & .category-img {
      translate: 0;
    }
  }

  #category .category-img {
    height: 20rem;
    left: auto;
    right: 0;
    translate: 100%;
  }
}

@media (min-width: 1280px) {
  #category .card {
    opacity: 0.75;
  }

  #category .card:hover {
    opacity: 1;
    & .category-img {
      translate: 0;
    }
  }

  #category .category-text {
    padding: 10rem 7.5rem;
  }

  #category .title {
    font-size: 3.5rem;
  }

  #category .desc {
    max-width: 30rem;
  }

  #category .category-img {
    height: 27rem;
    left: auto;
    right: 0;
    translate: 100%;
  }
}
