
#credits {
    position: absolute; /* Change from relative to absolute */
    bottom: 0; /* Stick to the bottom of the viewport */
    left: 0;
    width: 100%;
    padding: 80px 151px;
    background: #001092;
}

#credits .credit-main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 32px;
    width: 100%;

}

#credits .credits-head-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 24px;
    border-bottom: 2px solid rgba(217, 217, 217, 0.5); 
}

#credits .credits-head-container > :last-child {
    margin-bottom: 32px; /* Adjust the margin as needed */
}

#credits .credits-head-text {
    color: #FFF;
    font-family: "PP Monument";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%; /* 44.8px */
}

#credits .credits-WDDP-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    gap: 8px;
    max-width: 414px; 
    margin: 1 auto; 
    margin-top: 40px;
}

#credits .credits-WDDP-text-bold {
    color: #FFF;
    font-family: "GT America";
    font-size: 18px;
    font-weight: 700;
}

#credits .credits-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    color: #FFF;
    font-family: "GT America";
    font-size: 16px;
    font-weight: 400;
}

#credits .credits-names:nth-child(1),
#credits .credits-names:nth-child(2) {
    margin-bottom: 32px;
}

#top-left-blur{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

#top-right-blur{
    position: absolute;
    right: 0px;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}
#bottom-right-blur {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}
