:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.filter {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  pointer-events: none;
}
body:has(#side-nav[data-active="true"]) .filter {
  backdrop-filter: blur(2.5px);
  pointer-events: auto;
}
