/* note: landing and editors-msg share the same background, but background will be kept in landing */
/* note: default font size for website is 13px */

/*
  z-index
  -1 bg image
  0 others
  1 slideshow container
  2 slideshow
  3 text
*/

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* side nav */

#landing .open {
  position: fixed;
  inset: 2.5rem auto auto 2rem;
  cursor: pointer;
  z-index: 999;
}

/* background (shared by landing and editors-msg divs) */

.landing-editors-msg-bg {
  height: fit-content;
  background: url(../assets/images/bg-landing.png);
  background-size: cover;
	overflow-x: hidden;
}

/* text container and children */

#landing .landing-text-container {
  position: relative;
  color: #ffffff;
  z-index: 10;
  height: 100dvh;
  padding: 8dvh 5.5rem;
}

#landing .landing-logo {
  width: 13rem;
  height: auto;
}

#landing .landing-title {
  margin-left: -5px;
  font-family: "PP Monument";
  font-weight: 800;
  margin-bottom: 0.5rem;
}

#landing .landing-title p:nth-child(1) {
  font-size: 10rem;
  line-height: 1;
}

#landing .landing-title p:nth-child(2) {
  font-size: 6.7rem;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

#landing .landing-title p:nth-child(3) {
  margin-left: -1.5rem;
  font-size: 23rem;
  line-height: 0.8;
}

#landing .landing-label {
  font-family: "GT America";
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0.75rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#landing .landing-label p {
  margin: 0 1rem;
  display: inline-block;
}

#landing .landing-label img {
  width: 6.5rem;
}

/* graphic container and children */

#landing .landing-graphic {
  position: absolute;
	left: 50%;
  top: 0;
  height: 110%;
  aspect-ratio: 0.75;
}

#landing .landing-graphic-positioning {
  position: relative;
  height: 100%;
  width: 100%;
}

#landing .landing-graphic-front,
.landing-graphic-middle,
.landing-graphic-back {
  position: absolute;
}

#landing .landing-graphic-front {
  z-index: 3;
  bottom: 0;
  width: 100%;
  height: auto;
}

/* dimensions may change depending on the featured person */
#landing .landing-graphic-middle {
  z-index: 2;
  bottom: 2rem;
	right: 50%;
	translate: 50%;
  height: 85%;
  width: auto;
}

#landing .landing-graphic-back {
  z-index: 1;
  bottom: 1rem;
  width: 150%;
  height: auto;
}

#landing #landing-player-other {
	opacity: 0;
}

/* --- media queries --- */

@media only screen and (max-width: 1440px) {
  #landing .landing-title p:nth-child(1) {
    font-size: 9rem;
  }
  #landing .landing-title p:nth-child(2) {
    font-size: 6rem;
  }
  #landing .landing-title p:nth-child(3) {
    margin-left: -1rem;
    font-size: 20rem;
  }
  #landing .landing-label {
    font-size: 1.4rem;
    font-weight: 600;
  }
  #landing .landing-label img {
    width: 6.3rem;
  }
}

@media only screen and (max-width: 1300px) {
  #landing .landing-title p:nth-child(1) {
    font-size: 7.5rem;
  }
  #landing .landing-title p:nth-child(2) {
    font-size: 5rem;
  }
  #landing .landing-title p:nth-child(3) {
    margin-left: -1rem;
    font-size: 16.8rem;
  }
  #landing .landing-label {
    font-size: 1.1rem;
    font-weight: 600;
  }
  #landing .landing-label img {
    width: 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  #landing .landing-text-container {
    padding: 6rem 4rem;
  }
  #landing .landing-title p:nth-child(1) {
    font-size: 8rem;
  }
  #landing .landing-title p:nth-child(2) {
    font-size: 4rem;
    display: inline;
		margin-left: 0.15rem;
    -webkit-text-stroke: 1px #ffffff;
  }
  #landing .landing-title p:nth-child(3) {
    font-size: 4rem;
    display: inline;
    margin: 0;
		-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffffff;
  }

  #landing .landing-label {
    padding: 0;
    margin: 0;
  }
  #landing .landing-label p {
    margin: 0;
		margin-left: -0.10rem;
		font-size: 1.5rem;
  }
  #landing .landing-label img {
    display: none;
  }

  #landing .landing-graphic {
    bottom: 0;
		left: 40%;
  }
}


@media only screen and (max-width: 860px) {
  #landing .landing-graphic {
    top: 5%;
		left: auto;
		right: 0;
    height: 80%;
  }
  #landing .landing-graphic-front {
    left: 60px;
    bottom: -30px;
    width: 50%;
    height: auto;
  }
  #landing .landing-graphic-middle {
    bottom: -8rem;
  }
  #landing .landing-graphic-back {
    bottom: -30%;
    right: 50%;
		translate: 50%;
    height: auto;
  }
  #landing .landing-title p:nth-child(1) {
    font-size: 6rem;
  }
  #landing .landing-title p:nth-child(2) {
    font-size: 3rem;
    display: inline;
  }
  #landing .landing-title p:nth-child(3) {
    font-size: 3rem;
    display: inline;
  }
  #landing .landing-label p {
		font-size: 1.2rem;
  }
}

@media only screen and (max-width: 640px) {
  #landing .landing-title p:nth-child(1) {
    font-size: 4.8rem;
  }
  #landing .landing-title p:nth-child(2) {
    font-size: 2.2rem;
    display: inline;
    -webkit-text-stroke: 1px #ffffff;
  }
  #landing .landing-title p:nth-child(3) {
    font-size: 2.3rem;
    display: inline;
    margin: 0;
    -webkit-text-stroke: 1px #ffffff;
  }
  #landing .landing-graphic-back {
    bottom: -30%;
		width: 100%;
  }

  #landing .landing-label p {
		font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #landing .landing-text-container {
    padding: 5rem 1.5rem;
  }
  #landing .landing-title p:nth-child(1) {
    font-size: 4rem;
  }
  #landing .landing-title p:nth-child(2) {
    font-size: 2rem;
  }
  #landing .landing-title p:nth-child(3) {
    font-size: 2rem;
  }
}
