/* note: landing and editors-msg share the same background, but background will be kept in landing */
/* note: default font size for website is 13px */

/*
  z-index
  -1 bg image
  0 others
  1 slideshow container
  2 slideshow
  3 text
*/

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* background (shared by landing and editors-msg divs) */

.landing-editors-msg-bg {
  height: fit-content;
  background: #001092;
}

/* main container */

/* #landing .landing-main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
} */

/* text container and children */

#landing .landing-text-container {
  position: relative;
  color: #ffffff;
  z-index: 10;
  height: 100dvh;
  padding: 6.5rem 1.5rem;
}

#landing .landing-logo {
  width: 13rem;
  height: auto;
}

#landing .landing-title {
  font-family: "PP Monument";
  font-weight: 800;
}

#landing .landing-title p {
  margin: 0;
}

#landing .landing-title p:nth-child(1) {
  font-size: 5rem;
}

#landing .landing-title p:nth-child(2) {
  font-size: 2rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

#landing .landing-label {
  font-family: "GT America";
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background: #001092;
  width: fit-content;
}

/* slideshow container and children */

#landing .landing-slideshow {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
  height: 55%;
  aspect-ratio: 0.75;
  border-top-left-radius: 99999px;
  border-bottom-left-radius: 99999px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-image: url(../assets/images/slideshow.png);
  background-size: cover;
  background-position-x: 0%;
  animation: landing-slideshow-anim 50s infinite linear;
}

@keyframes landing-slideshow-anim {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 107.9%;
  }
}

/* --- media queries --- */

/* main container */
/* 
@media only screen and (min-width: 511px) and (max-width: 900px) {
  #landing .landing-main-container {
    grid-template-rows: 100px 800px;
    grid-template-columns: none;
    height: fit-content;
  }
}

@media only screen and (max-width: 510px) {
  #landing .landing-main-container {
    grid-template-rows: 260px 500px;
    grid-template-columns: none;
    height: fit-content;
  }
} */

/* text container */
@media only screen and (min-width: 640px) {
  #landing .landing-text-container {
    padding: 6.5rem 1.5rem;
  }

  #landing .landing-title p:nth-child(1) {
    font-size: 7.5rem;
  }
  #landing .landing-title p:nth-child(2) {
    font-size: 3.5rem;
  }
  #landing .landing-label {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  #landing .landing-text-container {
    padding: 7.5rem 2.5rem;
  }
}

@media (min-width: 1024px) {
  #landing .landing-text-container {
    padding: 9rem 4rem;
  }
}

@media only screen and (min-width: 1280px) {
  #landing .landing-text-container {
    padding: 12.5rem 5.5rem;
  }

  #landing .landing-title p:nth-child(1) {
    font-size: 11rem;
  }

  #landing .landing-title p:nth-child(2) {
    font-size: 5.5rem;
  }

  #landing .landing-label {
    font-size: 1.25rem;
  }
}

/* slideshow container */
@media (min-width: 768px) {
  #landing .landing-slideshow {
    top: 30%;
    height: 75%;
  }
}

@media (min-width: 1024px) {
  #landing .landing-slideshow {
    top: 0;
    height: 105%;
  }
}
