#side-nav .side_nav_bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
#side-nav .content_container{
    padding-left: 2em;
    padding-right: 2em;
}
#side-nav .exit{
    position: relative;
    cursor: pointer
}
#side-nav .exit .right_slant{
    height: 6px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
    transform: rotate(-45deg);
    width: 30px;
    transform-origin: right;
    top: 1.2em;
}
#side-nav .exit .left_slant{
    height: 6px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
    transform: rotate(45deg);
    width: 30px;
    transform-origin: right;
    top: 2.5em;
}
#side-nav .logo_container{
    display: block;
    position: relative;
    padding-top: 4em;
}
#side-nav .header_container{
    display: block;
    position: relative;
    padding-top: 2em;
}
#side-nav .header_container .UAAP{
    color: #ffffff;
    font-size: 8rem;
    font-weight: 100%;
    transform: scale(1, 0.6);
    line-height: 0;
}
#side-nav .header_container .Season86{
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;;
    transform: scale(1, 0.7);
    padding-top: 1rem;
}
#side-nav .sports_list{
    position: relative;
    list-style-type: none;
}
#side-nav .sports_list li{
    margin-bottom: 5px;
}
#side-nav .sports_list a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}