#side-nav {
}
.sidenav_background{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.Long_logo{
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: auto;
}