#side-nav .side_nav_bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
#side-nav .content_container{
    padding-left: 2em;
}
#side-nav .logo_container{
    display: block;
    position: relative;
    padding-top: 4em;
}
#side-nav .logo_container .UAAP{
    position: absolute;
    top: 30%;
    color: #ffffff;
    font-size: 9rem;
    font-weight: 100%;
    transform: scale(1, 0.6);
}
#side-nav .logo_container .Season86{
    position: absolute;
    top: 150%;
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;;
    transform: scale(1, 0.7);
    padding: 0;
    margin: 0;
}